{#
  The following 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
#}
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="description" content="{{ trans(template.meta_description) }}{{ item.meta_description }}"/>

{{ template.includes.render('meta')|raw }}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
    {# product meta data #}
    {% if item.meta_title  %}{{item.meta_title }}{% else %}{{item.title }}{% endif %}
</title>

<style>
  * {
      font-variant-ligatures: none;
    }
</style>
{# <!-- Favicon --> #}
{# {{ favicons("theme::img/favicon.png") }} #}

{# Important!! #}
{{ constants() }}

{# Base Theme Components #}
{{ asset_add("themes.css", "theme::css/foundation.min.css") }}
{{ asset_add("themes.css", "theme::css/motion-ui.min.css") }}
{{ asset_add("themes.css", "theme::css/jquery.fancybox.min.css") }}
{{ asset_add("themes.css", "theme::css/owl.carousel.min.css") }}
{{ asset_add("themes.css", "theme::css/select2.min.css") }}
{{ asset_add("themes.css", "theme::css/fonts.css") }}
{{ asset_add("themes.css", "theme::css/style.css") }}
{{ asset_add("themes.css", "theme::css/creo.css") }}
{{ asset_add("themes.css", "theme::css/gdpr.css") }}


{{ asset_style("themes.css", ["live"]) }}
{# Include Asset Collections #}

{# <style type="text/css">
    {{ asset_inline("theme.css", ["min"]) }}
    {{ asset_inline("build.css", ["parse", "min"]) }}
</style> #}

{# {{ html_style("css/foundation.min.css") }} #}
    
{{ template.includes.render('head')|raw }}
