<div class="small-12 columns nopad news-inner-page-content-left-title">
    {{t('more_knowledge')}}
</div>
<div class="small-12 columns nopad news-inner-page-content-left-items">
    {% for category in categories %}
    {% set links = category.knowledge.limit(5).get() %}

    {% if links is not empty %}
    <div class="small-12 columns nopad news-inner-page-content-left-item">
        <span>{{ category.title }}</span>
        <ul>
            {% for link in links %}
            <li>
                {% if category.slug == 'videos' %}
                    <a data-fancybox="" href="{{ link.public_url }}">
                        {{link.title }}
                    </a>
                {% else %}
                    <a href="{{ link.public_url }}">
                        {{link.title }}
                    </a>
                {% endif %}
            </li>
           {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    {% endfor %}

</div>